.navbar {
  background-color: #F7B42C;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 120px;
  margin-left: 40px;
}

.nav-links {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.nav-link:hover {
  color: white;
}

